{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Welcome To All Activities 😎</h1>
    
    <ul>
        {% for activity in activities %}
            <li>
                <a href="/activity/{{ activity.id }}" class="course">{{ activity.name }}</a>
                <br>
                <span>Time: {{ activity.time }}</span>
                <br>
                <span>Coach: {{ activity.coach_name }}</span>
            </li>
        {% endfor %}
    </ul>

    {% if not activities %}
        <p>No upcoming activities available at the moment.</p>
    {% endif %}

    {% if user_role == 2 %}
        <a href="/add" class="btn">Add New Activity</a>
        <a href="/remove" class="btn">Remove Activity</a>
    {% endif %}
    
{% endblock %}
