{% extends "layout.html" %}

{% block title %}Remove Course{% endblock %}

{% block content %}
    <h1>Remove a Course</h1>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        
        <label for="activity_id">Select Course:</label>
        <select id="activity_id" name="activity_id">
            {% for activity in activities %}
                <option value="{{ activity.id }}">{{ activity.name }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Remove</button>
    </form>

    
{% endblock %}
